<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hippocampus">
    <xacro:include filename="$(find hippo_sim)/urdf/common.xacro" />
    <xacro:include filename="$(find hippo_sim)/urdf/hippo3_params.xacro" />
    <xacro:include filename="$(find hippo_sim)/urdf/thruster/thruster_macro.xacro" />
    <xacro:include filename="$(find hippo_sim)/urdf/clamp_macro.xacro" />
    <xacro:include filename="$(find hippo_sim)/urdf/mount_macro.xacro" />
    <xacro:include filename="$(find hippo_sim)/urdf/camera/camera_macro.xacro" />

    <xacro:property name="thruster_xy" value="${thruster_r / 2**0.5}" />
    <gazebo>
        <static>false</static>
    </gazebo>
    <link name="base_link">
        <inertial>
            <mass value="${base_mass}" />
            <inertia ixx="${ixx}" ixy="0.0" ixz="0.0" iyy="${iyy}" iyz="0.0" izz="${izz}" />
        </inertial>
        <visual>
            <geometry>
                <mesh filename="$(find hippo_sim)/meshes/hippo3_tube.dae" />
            </geometry>
        </visual>
    </link>

    <link name="flange_link">
        <inertial>
            <mass value="1e-5" />
            <inertia ixx="1e-5" ixy="0.0" ixz="0.0" iyy="1e-5" iyz="0.0" izz="1e-5" />
        </inertial>
        <visual>
            <geometry>
                <mesh filename="$(find hippo_sim)/meshes/hippo3_flange.dae" />
            </geometry>
        </visual>
    </link>
    <joint name="flange_joint" type="fixed">
        <parent link="base_link" />
        <child link="flange_link" />
    </joint>

    <link name="dome_link">
        <inertial>
            <mass value="1e-5" />
            <inertia ixx="1e-5" ixy="0.0" ixz="0.0" iyy="1e-5" iyz="0.0" izz="1e-5" />
        </inertial>
        <visual>
            <geometry>
                <mesh filename="$(find hippo_sim)/meshes/hippo3_dome.dae" />
            </geometry>
        </visual>
    </link>
    <joint name="dome_joint" type="fixed">
        <parent link="base_link" />
        <child link="dome_link" />
    </joint>

    <gazebo reference="flange_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <gazebo reference="dome_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>

    <xacro:clamp parent="base_link" suffix="clamp_lower" xyz="0 0 0" rpy="${radians(90)} 0 0" />
    <xacro:clamp parent="base_link" suffix="clamp_upper" xyz="0 0 0" rpy="${radians(-90)} 0 0" />

    <gazebo reference="base_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>1</always_on>
            <visualize>true</visualize>
            <topic>$(arg vehicle_name)/imu</topic>
        </sensor>
        <visual>
            <material>
                <ambient>0.5 0.5 0.9 0.2</ambient>
                <diffuse>0.5 0.5 0.9 0.5</diffuse>
                <specular>1 1 1 1</specular>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="flange_link">
        <visual>
            <material>
                <ambient>1 1 1 1</ambient>
                <diffuse>1 1 1 1</diffuse>
                <specular>1 1 1 1</specular>
                <pbr>
                    <metal>
                        <metalness>1</metalness>
                        <roughness>0.5</roughness>
                        <environment_map>$(find hippo_sim)/textures/env_map.dds</environment_map>
                        <albedo_map>$(find hippo_sim)/textures/dark_grey.png</albedo_map>
                    </metal>
                </pbr>
            </material>
        </visual>
    </gazebo>

    <gazebo reference="dome_link">
        <visual>
            <material>
                <ambient>0.5 0.5 0.9 0.2</ambient>
                <diffuse>0.5 0.5 0.9 0.5</diffuse>
                <specular>1 1 1 1</specular>
            </material>
        </visual>
    </gazebo>

    <xacro:thruster parent="base_link" suffix="port_top" xyz="0 ${thruster_r / 2**0.5} ${thruster_r / 2**0.5}" axis="1 0 0" turning_direction="cw" propeller_direction="cw" color="red" number="0" />
    <xacro:thruster parent="base_link" suffix="starboard_top" xyz="0 -${thruster_r / 2**0.5} ${thruster_r / 2**0.5}" axis="1 0 0" turning_direction="cw" propeller_direction="ccw" color="green" number="1" />
    <xacro:thruster parent="base_link" suffix="starboard_bot" xyz="0 -${thruster_r / 2**0.5} -${thruster_r / 2**0.5}" axis="1 0 0" turning_direction="cw" propeller_direction="cw" color="grey" number="2" />
    <xacro:thruster parent="base_link" suffix="port_bot" xyz="0 ${thruster_r / 2**0.5} -${thruster_r / 2**0.5}" axis="1 0 0" turning_direction="cw" propeller_direction="ccw" color="grey" number="3" />

    <xacro:mount parent="base_link" suffix="port_top" xyz="0 ${thruster_r / 2**0.5} ${thruster_r / 2**0.5}" rpy="${radians(-45)} 0 0" />
    <xacro:mount parent="base_link" suffix="starboard_top" xyz="0 -${thruster_r / 2**0.5} ${thruster_r / 2**0.5}" rpy="${radians(45)} 0 0" />
    <xacro:mount parent="base_link" suffix="starboard_bot" xyz="0 -${thruster_r / 2**0.5} -${thruster_r / 2**0.5}" rpy="${radians(135)} 0 0" />
    <xacro:mount parent="base_link" suffix="port_bot" xyz="0 ${thruster_r / 2**0.5} -${thruster_r / 2**0.5}" rpy="${radians(-135)} 0 0" />

    <xacro:camera_macro parent="base_link" prefix="vertical_camera" xyz="${camera_position}" rpy="0 ${radians(90)} 0" />

    <gazebo>
        <plugin filename="ignition-gazebo-pose-publisher-system" name="ignition::gazebo::systems::PosePublisher">
    
        </plugin>
        <plugin filename="BuoyancyPlugin" name="ignition::gazebo::systems::BuoyancyPlugin">
            <buoyancy>
                <link_name>base_link</link_name>
                <origin>0 0 0.000</origin>
                <force_added>0</force_added>
                <compensation>1.01</compensation>
                <height_scale_limit>0.1</height_scale_limit>
            </buoyancy>
        </plugin>

        <plugin filename="HydrodynamicsPlugin" name="ignition::gazebo::systems::HydrodynamicsPlugin">
            <hydrodynamics>
                <link>base_link</link>
                <added_mass_linear>${added_mass_linear}</added_mass_linear>
                <added_mass_angular>${added_mass_angular}</added_mass_angular>
                <damping_linear>${damping_linear}</damping_linear>
                <damping_angular>${damping_angular}</damping_angular>
            </hydrodynamics>
        </plugin>

    </gazebo>
</robot>
